---
import Layout from "../layouts/Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mt-[6em] max-w-[32em]">
    <h1 class="text-sm">Ana Belén Varela</h1>
    <p class="font-semibold">Product Designer</p>

    <h2 class="mt-6 text-sm font-regular">About me</h2>
    <ul class="list-disc ml-6">
      <li>Based in Buenos Aires, ARG.</li>
      <li>Bachelor's degree in graphic design at <a
				href="https://www.fadu.uba.ar/"
				target="_blank"
				class="underline hover:text-gray-700">FADU<ExternalLink/></a></li>
      <li>
        Interested in designing clean and experimental digital products with a
        strong focus on business.
      </li>
      <li>Now: Lead product designer at <a
				href="https://lemon.me/"
				target="_blank"
				class="underline hover:text-gray-700">Lemon<ExternalLink/></a></li>
      <li>
        Before:
        <ul class="list-inside list-disc ml-4">
          <li class="list-none before:content-['↳']">
            UX designer at <a
              href="https://mercadolibre.com/"
							target="_blank"
              class="underline hover:text-gray-700">Mercado Libre<ExternalLink/></a
            >
          </li>
          <li class="list-none before:content-['↳']">
            UX designer at <a
              href="https://consultr.net/"
							target="_blank"
              class="underline hover:text-gray-700">ConsultR<ExternalLink/></a
            >
          </li>
        </ul>
      </li>
    </ul>

    <h2 class="mt-6 text-sm font-regular">Find me</h2>
    <ul class="list-disc ml-6">
      <li>
        <a
          href="https://www.linkedin.com/in/anabelenv/"
					target="_blank"
          class="underline hover:text-gray-700">LinkedIn<ExternalLink/></a
        >
      </li>
      <li>
        <a
          href="https://x.com/_rawpower"
					target="_blank"
          class="underline hover:text-gray-700">X<ExternalLink/></a
        >
      </li>
      <li>
        <a
          href="https://open.spotify.com/user/1199976656?si=ffecb73703554db3"
					target="_blank"
          class="underline hover:text-gray-700">Spotify<ExternalLink/></a
        >
      </li>
    </ul>

    <h2 class="mt-6 text-sm font-regular">Contact me</h2>
    <ul class="list-disc ml-6">
      <li>
        <a
          href="mailto:anabelen.varela@gmail.com"
          class="underline hover:text-gray-700">Mail</a
        >
      </li>
    </ul>
  </main>
</Layout>
