<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Product Designer based in Buenos Aires, Argentina. Clean and experimental digital product design. Lead designer at Lemon." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="author" content="Sebastian Susnik - Contact me: sebasusnik@gmail.com">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="designer, product, design, UX, UI">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ana Varela</title>
  </head>
  <body class="font-mono text-sm text-[#1D1D1D] container mx-auto px-6">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: "mono", monospace;
      font-style: normal;
			color: 1D1D1D;
      font-weight: 400;
      font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    }
  }
</style>

<script>
  console.log(`
  /*** 
   * This site was made by Sebastian Susnik
   *   reach me at sebasusnik@gmail.com
   * 
   * 
   *         ___     
   *        /__/|    
   *       |  |:|    
   *       |  |:|    
   *      _|  |:|    
   *     /__/\_|:|____
   *     \\  \\:\\/:::::/
   *      \\  \\::/~~~~ 
   *       \\  \\:\\     
   *        \\  \\:\\    
   *         \\__\\/    
   *                  
   *        ___       
   *       /  /\\      
   *      /  /:/      
   *     /__/::\\      
   *     \\__\\/\\:\\__   
   *        \\  \\:\\/\\  
   *         \\__\\::/  
   *         /__/:/   
   *         \\__\\/    
   *                  
   *          ___     
   *         /__/\\    
   *         \\  \\:\\   
   *          \\  \\:\\  
   *      _____\\__\\:\\ 
   *     /__/::::::::\\
   *     \\  \\:\\~~\\~~\\/ 
   *      \\  \\:\\  ~~~  
   *       \\  \\:\\     
   *        \\  \\:\\    
   *         \\__\\/   
   *          ___     
   *         /  /\\    
   *        /  /:/_   
   *       /  /:/ /\\  
   *      /  /:/ /::\\ 
   *     /__/:/ /:/\\:\\
   *     \\  \\:\\/:/~/:/ 
   *      \\  \\::/ /:/ 
   *       \\__\\/ /:/  
   *         /__/:/   
   *         \\__\\/    
   *          ___     
   *         /__/\\    
   *         \\  \\:\\   
   *          \\  \\:\\  
   *      ___  \\  \\:\\ 
   *     /__/\\  \\__\\:\\
   *     \\  \\:\\ /  /:/
   *      \\  \\:\\  /:/ 
   *       \\  \\:\\/:/  
   *        \\  \\::/   
   *         \\__\\/    
   *          ___     
   *         /  /\\    
   *        /  /:/_   
   *       /  /:/ /\\  
   *      /  /:/ /::\\ 
   *     /__/:/ /:/\\:\\
   *     \\  \\:\\/:/~/:/
   *      \\  \\::/ /:/ 
   *       \\__\\/ /:/  
   *         /__/:/   
   *         \\__\\/    
   * 
   */
`);
</script>
